@import "tailwindcss";

/*@font-face{
    
    font-family: Poppins;
    src: url("../../fonts/Poppins-Medium.ttf");
   
}*/
@font-face {
  font-family: 'Lexend';
  src: url('./fonts/Lexend.ttf') format('ttf');
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

body{
/*  @apply bg-yellow-400;*/
/*  @apply overflow-x-hidden;*/
    font-family: 'Lexend', sans-serif;
}

/*.hero__text{
  font-family: Poppins;
}*/
