@import "tailwindcss";

/*@font-face{
    
    font-family: Poppins;
    src: url("../../fonts/Poppins-Medium.ttf");
   
}*/
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

body{
/*  @apply bg-yellow-400;*/
/*  @apply overflow-x-hidden;*/
}

/*.hero__text{
  font-family: Poppins;
}*/
